body {
    background-color: #CFD0CF;
}
h1 {
    font-size: 42px;
    line-height: 47px;
    font-family: Arial;
    color: #434344;
}

#header {
    margin: 40px 0 40px 0;
    text-align: center;
}

#main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: start;
    align-items: center;
    margin: 0 auto;
    width: 700px;

}

.flip-card {
    background-color: transparent;
    width: 120px;
    height: 120px;
    perspective: 600px;
    margin: 17.5px;
 }

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.5);
    border: white 5px solid;
    border-radius: 9px;
    background-color: white;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
    border-radius: 9px;
    background: linear-gradient(to top right, #22AB93, #19668D);
}

.flip-card-back {
    background-color: white;
    transform: rotateY(180deg);
    border-radius: 9px;

    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.flip-card-back span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
}

.flip-card-inner.is-flipped {
    transform: rotateY(180deg);
}